body {
    background-image: url(/img/Nav\ Pic.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.534);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    /* font-family: sans-serif; */
    /* background-color: rgb(27, 59, 117); */
    /* background: linear-gradient(45deg, #0a1869, #040280) */
  }
  
  #character-section {
    /* background-image: url(/img/download.png);
    background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: blue;
    background-color: rgb(172, 185, 187);
    opacity: 0.7;
    
  }


  #container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    /* grid-template-rows: 100px 200px; Define two rows with fixed heights */
    grid-gap: 20px;
  }

  #container .character{
    margin: 7px;

  }

  #container .character .image{
    text-align: center;
    cursor: pointer;
  }

  #container .character .image img{
    border-radius: 5px;
    width: 75%;
    height: 75%;
  }

  #container .character .name{
    text-align: center;

  }

  #container .character .name button{
    padding: 0.5em;
    border-radius: 50px;  
    cursor: pointer;
  }

  .popup{
    width: 400px;
    background: rgb(172, 185, 187);;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
  }

  .popup .card .header{
    font-size: 28px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: rgb(27, 59, 117);
    font: bold;
  }

  .popup .btn{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: rgb(27, 59, 117);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  .loading {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    text-align: center; 
    color: #000;
  }
  
  .loading img {
    width: 300px; 
    height: 300px; 
  }
  
  .loading p {
    font-size: 16px; 
    color: #fff; 
    margin-top: 10px; 
  }
  
  /* Style the Pagination Controls */
  .pagination-controls {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: rgb(172, 185, 187); 
    padding: 10px; 
    border-top: 1px solid rgb(26, 22, 22); 
  }
  
  .pagination-controls a {
    display: inline-block; 
    width: 30px; 
    height: 30px; 
    line-height: 30px; 
    text-align: center; 
    border: 1px solid black; 
    border-radius: 3px; 
    margin: 0 5px; 
    color: black; 
    text-decoration: none; 
  }
  
  .pagination-controls a:hover {
    background-color: rgb(27, 59, 117); 
    color: #fff;
  }
  
  .pagination-controls .a .[page-link="${currentPage}"] {
    background-color: #333; 
    color: rgb(36, 102, 201); 
  }
  
  .pagination-controls button{
    display: inline-block; 
    width: 60px;
    height: 33px; 
    line-height: 30px; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    background-color: rgb(27, 59, 117); 
    color: white; 
    text-decoration: none; 
    cursor: pointer; 
  }

  .pagination-controls button:hover {
    background-color: #fff; 
    color: rgb(4, 32, 83);;
  }

  .pagination-controls button:disabled {
    opacity: 0.5; 
    cursor: default; 
  }